@model Reposit.Models.Category

@{
    ViewData["Title"] = "Create";
    ViewData["Description"] = "Create a new category.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
        <form asp-action="Create">
    <div class="row">
            <div class="col-md-4">
                <label asp-for="Title" class="control-label float-right align-center">Title:</label>

            </div>
            <div class="col-md-4">
                <input asp-for="Title" class="form-control" />

                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <input type="submit" value="Create" class="btn btn-default" />

            </div>
        </form>
    </div>
</div>

    <div class="text-center mt-4">
        <a asp-action="Index"><h6 class="d-inline ml-4">Back to Categories</h6></a>
    </div>
