@model Reposit.Models.Category

@{
    ViewData["Title"] = @Model.Title;
    ViewData["Description"] = $"Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
            <form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <label asp-for="Title" class="control-label float-right mt-1"></label>
            </div>

            <div class="col-md-4">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

            </form>

        </div>
    </div>
</div>

    <div class="text-center mt-4">
        <a asp-action="Index"><h6 class="d-inline ml-4">Back to Categories</h6></a>
    </div>
