@model IEnumerable<Reposit.Models.Category>
@{
    ViewData["Title"] = "Categories";
    ViewData["Description"] = "Browse all categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a class="btn btn-secondary mb-5" href="categories/create" type="button">Create New Category</a>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Change name</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
