<header class="masthead bg-primary text-white text-center" id="headerOverride">
    <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">
        <h1 class="text-uppercase mb-0">@ViewBag.Title</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">@ViewBag.Description</h2>
    </div>
</header>
