@model IEnumerable<Reposit.Models.Category>

@{
    ViewData["Title"] = "Reposit";
    ViewData["Description"] = "Create. Save. Categorize. Profit.";
    Layout = "_Layout";
}

<h1 class="text-center text-uppercase">Categories</h1>

<div class="container-fluid">

    <div class="row">

        @foreach (var thing in Model)
        {
            <div class="col-md-3 preview-cards ml-5 mb-5">
                <h4>
                    @Html.DisplayFor(modelItem => thing.Title)
                </h4>
                <p>
                    <a asp-controller="Categories" asp-action="Details" asp-route-id="@thing.ID">View Snippets »</a>
                </p>
            </div>
        }
    </div>
</div>

